<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel = "styleSheet" href = "./css/styles.css">
        <link rel = "icon" href = "/img/weather.png"
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This Site Was Created By Wesam Yakout using node.js</p>
            <p>It uses data from mapbox.com and darkskey.net!</p>
            <img class="portrait" src = "img/me.png">
        </div>
        {{>footer}}
    </body>
</html>